* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.clearfix::after{
    content:"";
    clear:both;
    display:table;
}
html{
    background-color: lightsteelblue;
    background-image: url("../images/bgtile.jpg");
    background-attachment: fixed;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
    border: 3px solid steelblue;
    box-shadow: 5px 10px 8px 10px #888888;
    background-color: white;
    display: block;
}
h1, h2, h3, p, blockquote{
    margin-bottom: 12px;
}
header {
    border-bottom: 1px steelblue;
    background-image: linear-gradient(white,lightsteelblue);
    padding: 1em;
}
header img {
    float:left;
    margin-right:15px;
    padding: 10px 1.5em;
}
/* Horizontal inline navigation menu */
/* #nav_menu {
    margin: 0;
}
#nav_menu ul{
    list-style: none;
    text-align: center;
    border-top: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
    background-color: steelblue;
    padding: 10px 0;
}
#nav_menu ul li{
    display: inline;
    border-right: 2px solid black;
    padding: 10px 3em;
}
#nav_menu #last{
    border-right: none;
}
#nav_menu ul li a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#nav_menu ul li a:hover{
    color:white
}
#nav_menu ul li:hover{
    background-color: lightsteelblue; */

    /* nav_menu 2 teir menu using nav and float */

    /* horizontal flex box navigation menu */
#nav_menu {
    position: sticky;
    top: 0;
}
.container {
    display: flex;
    list-style: none;
    background-color: steelblue;
    position: relative;
}
.container li {
    flex: 1;
}
.container li a {
    display: block;
    padding: .75em 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
.container li a:hover {
    color: black;
    background-color: lightsteelblue;
}
    /* flex box nav menu 2nd teir */
.container ul {
    display: none;
    width: 20%;
    list-style: none;
    position: absolute;
    top: 100%;
    background-color: steelblue;
    box-shadow: 7px 7px 15px -1px gray;
}
.container ul li {
    flex-direction: column;
}
.container ul li a {
    padding-left: 1em;
}
.container li:hover > ul {
    display: block;
}

main{
    padding: 0 1em;
}
.underconstruction {
    display: block;
    margin: auto;
}
main h1 {
    text-align: center;
    font-size: 300%;
    color: lightsteelblue;
    margin: 10px 0 0;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black,1px  -1px 2px black, -1px 1px 2px black;
}
main h2 {
    text-align: center;
}
aside{
    width: 30%;
    float: left;
    padding-top: 1.5em;
}
#asideleft {
    float: left;
}
article img {
    display: flex;
    flex-direction: column;
}
article > img {
    margin: 1em 2em;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px darkslategray;
}

aside h2{
    margin-top: 0.2em;
}
#nav_list h2{
    margin-bottom: 5px;
    text-align: center;
}
#nav_list ul{
    list-style: none;
}
#nav_list ul li{
    width: 90%;
    border: 1px solid steelblue;
    margin: 0 auto 0.5em;
}
#nav_list ul li a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: .5em 0 .5em .5em;
    color: black;
    transition: all 0.5s;
}
#nav_list ul li a:hover{
    color: white;
    background-color: steelblue;
    padding: .5em 0 .5em 1.5em;
}
section {
    width: 40%;
    float: left;
    padding-top: 10px;
    padding-right: 5px;
}
.icon {
    float: left;
    margin-right: 0.5em;
    margin-left: 5em;
    max-width: 25px;
}
section h3::after {
    clear: left;
}
section p {
    margin: 0 2em 2em 1.5em;
}
section h3 {
    margin-bottom: 5px;
}
#asideright {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
}
header h2 {
    font-size: 300%;
    text-shadow: 5px 5px 12px;
    font-style:italic;
    color: steelblue;
}
blockquote{
    font-style: italic;
    padding: 1em;
    border-left: 3px solid steelblue;
    background-color: lightgrey;
    border-radius: 5px;
    width: 80%;
    margin: 1em auto;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    font-size:150%;
}
aside a {
    text-decoration: none;
}
section a:link, section a:visited {
color:maroon;
}
section a:hover, section a:active {
    color: steelblue;
}
aside a:link, aside a:visited{
    color:steelblue;
}
aside a:hover, secrion a:active {
    color: maroon;
}
aside ul{
    margin: 20px;
}
aside li{
    font-weight: bold;
    line-height: 20px;
}
footer{
    clear:both;
    background-color: steelblue; 
    padding: 1em;
}
footer p{
    color: white; 
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}

/* hid mobile menu */
#mobilemenu {
    display: none;
}

/* media queries */
@media only screen and (max-width: 900px) {
    html {
        background-image: none;
    }
    body {
        box-shadow: none;
        font-size: 90%;
        border: none;
    }
    #asideleft {
        display: none;
    }
    section {
        width: 70%;
        padding-left: 1em;
    }
}
@media only screen and (max-width: 767px) {
    #nav_menu {
        display: none;
    }
    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: steelblue !important;
    }
    header h2 {
        font-size: 200%;
    }
    header h1 {
        font-size: 200%;
    }
    section, aside {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding: .5em;
    }
    header img {
        float: none;
        padding: .5em;
        display: block;
        margin: 0 auto;
    }
    header h2, header h3{
        text-align: center;
    }
}
